*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #dc3545;
    height: 80px;
    text-align: center;
    padding-top: 15px;
    color: white;
}

footer{
    margin-top: 200px;
    font-size: 10px;
    background-color: #dc3545;
    height: 80px;
    text-align: center;
    padding-top: 15px;
    color: white;
}