*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: rgba(134, 56, 56, 0.911);
    height: 80px;
    text-align: center;
    padding-top: 15px;
    color: white;
}

footer{
    margin-top: 100%;
    font-size: 10px;
    background-color: rgba(134, 56, 56, 0.911);
    height: 80px;
    text-align: center;
    padding-top: 15px;
    color: white;
}