*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.ubicacion, .fotobarrio{
    color: white;
    height: 40px;
    background: linear-gradient(to right, #BDBBBE, #3F4146);
    font-size: 30px;
}

.fotobarrio{
    width: 100%;
}

header{
    background-color: #dc3545;
    height: 80px;
    text-align: center;
    padding-top: 15px;
    color: white;
}

.btn-check{
    color: white;
}

.col-sm-12{
    border-radius: 5px;
}